Repository owncloud/docs, pull requests merged in 2019-04, with the labels that each got.

#840 Fix broken links on developer manual index page
  modules/developer_manual/pages/index.adoc
Labels: bug, developer docs, review required

#845 Create providing_logs_and_config_files.adoc
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/troubleshooting/providing_logs_and_config_files.adoc
Labels: admin docs, backport, enhancement

#860 Document Min Samba / Windows Network Drive Listener combination
  modules/admin_manual/pages/configuration/files/external_storage/smb.adoc
Labels: admin docs, enhancement, review required

#862 [10.0] [PR 860] Document Min Samba / Windows Network Drive Listener combination
  modules/admin_manual/pages/configuration/files/external_storage/smb.adoc
Labels: admin docs

#861 [10.1] [PR 860] Document Min Samba / Windows Network Drive Listener combination
  modules/admin_manual/pages/configuration/files/external_storage/smb.adoc
Labels: admin docs

#865 backport app requirements (#863)
  modules/admin_manual/pages/enterprise/collaboration/msoffice-wopi-integration.adoc
Labels: waiting on feedback

#867 Developer Manual reference to index was missing
  modules/developer_manual/nav.adoc
Labels: backport, bug, developer docs

#868 [10.1] [PR 867] Developer Manual reference to index was missing
  modules/developer_manual/nav.adoc
Labels: backport, developer docs

#869 [10.0] [PR 867] Developer Manual reference to index was missing
  modules/developer_manual/nav.adoc
Labels: backport, developer docs

#864 backport app requirements (#863)
  modules/admin_manual/pages/enterprise/collaboration/msoffice-wopi-integration.adoc
Labels: waiting on feedback

#739 Development environment based on docker containers
  modules/developer_manual/pages/general/devenv_docker.adoc
Labels: developer docs, enhancement

#870 Provide extra clarity for how to build the docs locally
  docs/build-the-docs.md
Labels: command-line, enhancement, review required

#880 xref fix missing module name
  modules/developer_manual/pages/general/devenv_docker.adoc
Labels: backport, bug, developer docs

#878 Document the renaming shares functionality
  modules/user_manual/pages/files/webgui/sharing.adoc
Labels: enhancement, review required, user docs

#804 Replace 9.2 by 10.0
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/package_upgrade.adoc
  modules/admin_manual/pages/maintenance/update.adoc
Labels: review required, technical review

#885 [10.1] [PR 804] Replace 9.2 by 10.0
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/package_upgrade.adoc
  modules/admin_manual/pages/maintenance/update.adoc
Labels: backport

#866 Small script improvement of post-installation-steps.sh
  modules/admin_manual/examples/installation/post-installation-steps.sh
Labels: admin docs, backport, enhancement

#891 Fix omissions in the manual upgrade documentation
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
Labels: admin docs, clean up, command-line, enhancement

#735 Preparation page for Ubuntu 18.04
  modules/admin_manual/pages/installation/manual_installation.adoc
  modules/admin_manual/pages/installation/server_prep_ubuntu_18.04.adoc
Labels: admin docs, enhancement, technical review, waiting on feedback

#897 Extract the Shibboleth Apache config example to an include file
  modules/admin_manual/examples/enterprise/user_management/shibboleth/apache-2.4-configuration.conf
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
Labels: admin docs, backport, enhancement

#901 Update example include syntax
  docs/best-practices.md
  modules/admin_manual/pages/configuration/ldap/ldap_proxy_cache_server_setup.adoc
  modules/admin_manual/pages/installation/apps_management_installation.adoc
  modules/admin_manual/pages/installation/installation_wizard.adoc
  modules/admin_manual/pages/installation/letsencrypt/using_letsencrypt.adoc
  modules/admin_manual/pages/installation/manual_installation.adoc
  modules/admin_manual/pages/installation/nginx_configuration.adoc
  modules/developer_manual/pages/_partials/webdav_api/search/common_error_responses.adoc
  modules/developer_manual/pages/app/advanced/extstorage.adoc
  modules/developer_manual/pages/app/fundamentals/backgroundjobs.adoc
  modules/developer_manual/pages/app/fundamentals/filesystem.adoc
  modules/developer_manual/pages/core/acceptance-tests.adoc
  modules/developer_manual/pages/core/ocs-capabilities.adoc
  modules/developer_manual/pages/core/ocs-share-api.adoc
  modules/developer_manual/pages/core/theming.adoc
  modules/developer_manual/pages/core/unit-testing.adoc
  modules/developer_manual/pages/general/backporting.adoc
  modules/developer_manual/pages/webdav_api/groups/custom_groups_endpoints.adoc
  modules/developer_manual/pages/webdav_api/groups/group_membership_endpoints.adoc
  modules/developer_manual/pages/webdav_api/search/filter_files.adoc
  modules/developer_manual/pages/webdav_api/search/search_files.adoc
Labels: backport, clean up, enhancement, review required

#871 Including ToC in Best Practices
  docs/best-practices.md
Labels: backport, deployment, enhancement

#872 TOC in admin manual - installation
  modules/admin_manual/pages/installation/apps_management_installation.adoc
  modules/admin_manual/pages/installation/apps_supported.adoc
  modules/admin_manual/pages/installation/configuration_notes_and_tips.adoc
  modules/admin_manual/pages/installation/deployment_considerations.adoc
  modules/admin_manual/pages/installation/deployment_recommendations.adoc
  modules/admin_manual/pages/installation/docker/index.adoc
  modules/admin_manual/pages/installation/installation_wizard.adoc
  modules/admin_manual/pages/installation/letsencrypt/apache.adoc
  modules/admin_manual/pages/installation/letsencrypt/nginx.adoc
  modules/admin_manual/pages/installation/letsencrypt/using_letsencrypt.adoc
  modules/admin_manual/pages/installation/linux_installation.adoc
  modules/admin_manual/pages/installation/manual_installation.adoc
  modules/admin_manual/pages/installation/nginx_configuration.adoc
  modules/admin_manual/pages/installation/selinux_configuration.adoc
  modules/admin_manual/pages/installation/system_requirements.adoc
Labels: admin docs, backport, enhancement, review required

#910 Fix one leftover {examplesdir} --> example$ in best practices
  docs/best-practices.md
Labels: backport, bug

#911 [10.1] [PR 910] Fix one leftover {examplesdir} in best practices
  docs/best-practices.md
Labels: clean up, enhancement

#912 [10.0] [PR 910] Fix one leftover {examplesdir} in best practices
  docs/best-practices.md
Labels: clean up, enhancement

#898 Tidy up the Shibboleth documentation
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
Labels: admin docs, backport, enhancement

#916 Fixing orphaned references from old docs
  modules/admin_manual/pages/configuration/files/external_storage_configuration_gui.adoc
  modules/admin_manual/pages/configuration/server/security_setup_warnings.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ftp_smb_imap.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/installation/deployment_recommendations.adoc
  modules/admin_manual/pages/installation/linux_installation.adoc
  modules/admin_manual/pages/installation/manual_installation.adoc
  modules/admin_manual/pages/installation/system_requirements.adoc
  modules/admin_manual/pages/installation/troubleshooting.adoc
  modules/admin_manual/pages/issues/general_troubleshooting.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
Labels: admin docs, backport, bug

#919 [10.1] [PR 916] Fixing orphaned references from old docs
  modules/admin_manual/pages/configuration/files/external_storage_configuration_gui.adoc
  modules/admin_manual/pages/configuration/server/security_setup_warnings.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ftp_smb_imap.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/installation/deployment_recommendations.adoc
  modules/admin_manual/pages/installation/linux_installation.adoc
  modules/admin_manual/pages/installation/manual_installation.adoc
  modules/admin_manual/pages/installation/system_requirements.adoc
  modules/admin_manual/pages/installation/troubleshooting.adoc
  modules/admin_manual/pages/issues/general_troubleshooting.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
Labels: backport, enhancement

#920 [10.0] [PR 916] Fixing orphaned references from old docs
  modules/admin_manual/pages/configuration/files/external_storage_configuration_gui.adoc
  modules/admin_manual/pages/configuration/server/security_setup_warnings.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ftp_smb_imap.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/installation/deployment_recommendations.adoc
  modules/admin_manual/pages/installation/linux_installation.adoc
  modules/admin_manual/pages/installation/manual_installation.adoc
  modules/admin_manual/pages/installation/system_requirements.adoc
  modules/admin_manual/pages/installation/troubleshooting.adoc
  modules/admin_manual/pages/issues/general_troubleshooting.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
Labels: enhancement

#921 Link the installation home page to the main installation nav item
  modules/admin_manual/nav.adoc
Labels: admin docs, enhancement, review required

#915 Improving Letsencrypt configuration for Apache and Nginx
  modules/admin_manual/pages/installation/letsencrypt/apache.adoc
  modules/admin_manual/pages/installation/letsencrypt/nginx.adoc
Labels: admin docs, backport, enhancement

#922 Adding an introduction what SELinux is about
  modules/admin_manual/pages/installation/selinux_configuration.adoc
Labels: admin docs, backport, enhancement

#909 Update system requirements
  modules/admin_manual/pages/installation/system_requirements.adoc
Labels: backport, clean up, review required

#908 Improving how links can be written
  docs/best-practices.md
Labels: backport, enhancement

#947 Adding Paragraph Titles to Best Practices Guide
  docs/best-practices.md
Labels: backport, deployment, enhancement

#939 Update how to contribute in production
  modules/ROOT/pages/how_to_contribute.adoc
Labels: backport, deployment, enhancement

#877 TOC in admin manual - configuration
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/configuration/database/db_conversion.adoc
  modules/admin_manual/pages/configuration/database/index.adoc
  modules/admin_manual/pages/configuration/database/linux_database_configuration.adoc
  modules/admin_manual/pages/configuration/files/big_file_upload_configuration.adoc
  modules/admin_manual/pages/configuration/files/encryption/enabling-user-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration_quick_guide.adoc
  modules/admin_manual/pages/configuration/files/encryption/index.adoc
  modules/admin_manual/pages/configuration/files/encryption/master-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption_configuration.adoc
  modules/admin_manual/pages/configuration/files/external_storage/auth_mechanisms.adoc
  modules/admin_manual/pages/configuration/files/external_storage_configuration.adoc
  modules/admin_manual/pages/configuration/files/external_storage_configuration_gui.adoc
  modules/admin_manual/pages/configuration/files/federated_cloud_sharing_configuration.adoc
  modules/admin_manual/pages/configuration/files/file_sharing_configuration.adoc
  modules/admin_manual/pages/configuration/files/index.adoc
  modules/admin_manual/pages/configuration/ldap/ldap_proxy_cache_server_setup.adoc
  modules/admin_manual/pages/configuration/mimetypes/index.adoc
  modules/admin_manual/pages/configuration/server/antivirus_configuration.adoc
  modules/admin_manual/pages/configuration/server/automatic_configuration.adoc
  modules/admin_manual/pages/configuration/server/background_jobs_configuration.adoc
  modules/admin_manual/pages/configuration/server/caching_configuration.adoc
  modules/admin_manual/pages/configuration/server/email_configuration.adoc
  modules/admin_manual/pages/configuration/server/excluded_blacklisted_files.adoc
  modules/admin_manual/pages/configuration/server/harden_server.adoc
  modules/admin_manual/pages/configuration/server/import_ssl_cert.adoc
  modules/admin_manual/pages/configuration/server/index_php_less_urls.adoc
  modules/admin_manual/pages/configuration/server/legal_settings_configuration.adoc
  modules/admin_manual/pages/configuration/server/logging_configuration.adoc
  modules/admin_manual/pages/configuration/server/oc_server_tuning.adoc
  modules/admin_manual/pages/configuration/server/occ_app_command.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/reverse_proxy_configuration.adoc
  modules/admin_manual/pages/configuration/server/security/oauth2.adoc
  modules/admin_manual/pages/configuration/server/security/password_policy.adoc
  modules/admin_manual/pages/configuration/server/security_setup_warnings.adoc
  modules/admin_manual/pages/configuration/user/encryption_configuration_quick_guide.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ftp_smb_imap.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ldap.adoc
  modules/admin_manual/pages/configuration/user/user_configuration.adoc
  modules/admin_manual/pages/configuration/user/user_provisioning_api.adoc
  modules/admin_manual/pages/configuration/user/user_roles.adoc
  modules/admin_manual/pages/issues/code_signing.adoc
  modules/admin_manual/pages/issues/general_troubleshooting.adoc
  modules/admin_manual/pages/issues/impersonate_users.adoc
  modules/admin_manual/pages/issues/index.adoc
Labels: admin docs, backport, enhancement

#957 Fix typo in linux database configuration
  modules/admin_manual/pages/configuration/database/linux_database_configuration.adoc
Labels: admin docs, backport, bug

#737 Always set headers
  modules/admin_manual/pages/installation/manual_installation.adoc
Labels: admin docs, backport, enhancement

#973 Update general_troubleshooting.adoc
  modules/admin_manual/pages/issues/general_troubleshooting.adoc
Labels: admin docs, backport, enhancement

#978 [10.1] [PR 973] Update general_troubleshooting.adoc
  modules/admin_manual/pages/issues/general_troubleshooting.adoc
Labels: admin docs, enhancement

#977 [10.0] [PR 973] Update general_troubleshooting.adoc
  modules/admin_manual/pages/issues/general_troubleshooting.adoc
Labels: admin docs, enhancement

#971 Update external_storage_configuration.adoc
  modules/admin_manual/pages/configuration/files/external_storage_configuration.adoc
Labels: admin docs, backport, enhancement

#979 Update files_primary_s3 config examples to use correct path style syntax
  modules/admin_manual/pages/enterprise/external_storage/s3_swift_as_primary_object_store_configuration.adoc
Labels: admin docs, enhancement

#970 Update previews_configuration.adoc
  modules/admin_manual/pages/configuration/files/previews_configuration.adoc
Labels: admin docs, backport, enhancement

#984 [10.1] [PR 979] Update files_primary_s3 config examples to use correct path style syntax
  modules/admin_manual/pages/enterprise/external_storage/s3_swift_as_primary_object_store_configuration.adoc
Labels: admin docs, enhancement

#983 [10.0] [PR 979] Update files_primary_s3 config examples to use correct path style syntax
  modules/admin_manual/pages/enterprise/external_storage/s3_swift_as_primary_object_store_configuration.adoc
Labels: admin docs, enhancement

#976 Linked to the SMB/CIFS config from the WND documentation
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
Labels: admin docs, enhancement, installation & configuration

#876 [WIP] Link the appliance top-level nav item to the what is it page
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/appliance/index.adoc
Labels: admin docs, enhancement, review required, work in progress

#994 Important fix for a wrong link
  modules/ROOT/pages/index.adoc
Labels: admin docs, backport, bug

#998 Fix broken link to appliance main page
  modules/admin_manual/pages/maintenance/migrating.adoc
Labels: bug, clean up

#887 Fix code errors in MyStorage.php
  modules/developer_manual/examples/app/storage-backend/OCA/MyStorageApp/Storage/MyStorage.php
Labels: bug

#995 Fix broken appliance link in 10.0 branch
  modules/ROOT/pages/index.adoc
  modules/admin_manual/pages/maintenance/migrating.adoc
Labels: bug, clean up, review required

#996 Fix broken appliance link 10.1
  modules/ROOT/pages/index.adoc
  modules/admin_manual/pages/maintenance/migrating.adoc
Labels: bug, clean up, review required

#988 Document the incoming-shares:poll command
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs, backport, enhancement, review required, technical review

#1003 [10.2] [PR 988] Document the incoming-shares:poll command
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs, backport

#1005 Fixup --database-pass parameter of acceptance-tests install example
  modules/developer_manual/pages/core/acceptance-tests.adoc
Labels: bug, developer docs

#1010 Fix encryption quick guide formatting errors
  modules/admin_manual/pages/configuration/files/encryption/enable-encryption.adoc
Labels: admin docs, backport, bug

#1018 TOC in admin manual - appliance
  modules/admin_manual/pages/appliance/Clamav.adoc
  modules/admin_manual/pages/appliance/Office.adoc
  modules/admin_manual/pages/appliance/certificates.adoc
  modules/admin_manual/pages/appliance/howto-update-owncloud.adoc
  modules/admin_manual/pages/appliance/installation.adoc
  modules/admin_manual/pages/appliance/ucs/add-groups-and-users.adoc
  modules/admin_manual/pages/appliance/wnd_setup.adoc
Labels: admin docs, backport, enhancement

#1014 TOC in admin manual - maintenance
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/maintenance/backup.adoc
  modules/admin_manual/pages/maintenance/enable_maintenance.adoc
  modules/admin_manual/pages/maintenance/encryption/migrating-from-user-key-to-master-key.adoc
  modules/admin_manual/pages/maintenance/export_import_instance_data.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/manually-moving-data-folders.adoc
  modules/admin_manual/pages/maintenance/migrating.adoc
  modules/admin_manual/pages/maintenance/package_upgrade.adoc
  modules/admin_manual/pages/maintenance/restore.adoc
  modules/admin_manual/pages/maintenance/update.adoc
  modules/admin_manual/pages/maintenance/upgrade.adoc
  modules/admin_manual/pages/maintenance/upgrading/index.adoc
  modules/admin_manual/pages/maintenance/upgrading/marketplace_apps.adoc
  modules/admin_manual/pages/maintenance/upgrading/upgrade_php.adoc
Labels: admin docs, backport, enhancement

#1019 Update branching workflow to reflect new current version (10.2)
  docs/images/the-branching-workflow.key
  docs/images/the-branching-workflow.png
  docs/the-branching-workflow.md
Labels: enhancement, review required

#1027 TOC in admin manual - document classification
  modules/admin_manual/pages/document_classification/index.adoc
Labels: admin docs, backport, enhancement

#1041 TOC in developer manual - General Contributor Guidelines
  modules/developer_manual/pages/general/backporting.adoc
  modules/developer_manual/pages/general/code-of-conduct.adoc
  modules/developer_manual/pages/general/codingguidelines.adoc
  modules/developer_manual/pages/general/debugging.adoc
  modules/developer_manual/pages/general/performance.adoc
  modules/developer_manual/pages/general/security.adoc
Labels: backport, developer docs, enhancement

#1042 TOC in developer manual - Help and Communication
  modules/developer_manual/pages/commun/help_and_communication.adoc
Labels: backport, developer docs, enhancement

#1040 TOC in user manual - all
  modules/user_manual/pages/external_storage/sharepoint_connecting.adoc
  modules/user_manual/pages/files/access_webdav.adoc
  modules/user_manual/pages/files/deleted_file_management.adoc
  modules/user_manual/pages/files/encrypting_files.adoc
  modules/user_manual/pages/files/federated_cloud_sharing.adoc
  modules/user_manual/pages/files/gallery_app.adoc
  modules/user_manual/pages/files/public_link_shares.adoc
  modules/user_manual/pages/files/webgui/comments.adoc
  modules/user_manual/pages/files/webgui/custom_groups.adoc
  modules/user_manual/pages/files/webgui/navigating.adoc
  modules/user_manual/pages/files/webgui/overview.adoc
  modules/user_manual/pages/files/webgui/quota.adoc
  modules/user_manual/pages/files/webgui/sharing.adoc
  modules/user_manual/pages/files/webgui/tagging.adoc
  modules/user_manual/pages/pim/sync_ios.adoc
  modules/user_manual/pages/session_management.adoc
  modules/user_manual/pages/troubleshooting.adoc
Labels: backport, enhancement, user docs

#1038 Fix wrong level in maintenance/backup.adoc
  modules/admin_manual/pages/maintenance/backup.adoc
Labels: admin docs, backport, bug

#1035 Fix broken xref in configuration/external_storage/google.adoc
  modules/admin_manual/pages/configuration/files/external_storage/google.adoc
Labels: admin docs, backport, bug

#1053 [10.0] [PR 1038] Fix wrong level in maintenance/backup.adoc
  modules/admin_manual/pages/maintenance/backup.adoc
Labels: backport, clean up

#1031 Best Practices - experimental attribute
  docs/best-practices.md
Labels: backport, deployment, enhancement

#1050 Document why backports are made to older documentation branches
  docs/the-branching-workflow.md
Labels: enhancement, review required

#1069 Update the antora build script to support static redirects
  package.json
Labels: command-line, deployment

#1086 Fix section level out of order
  modules/admin_manual/pages/troubleshooting/providing_logs_and_config_files.adoc
Labels: admin docs, backport, bug

#1065 updated selinux configuration to reflect apps-external change with 10.2
  modules/admin_manual/pages/installation/selinux_configuration.adoc
Labels: admin docs, enhancement

#1092 Restructure and syntax highlighting
  modules/admin_manual/pages/configuration/server/language_configuration.adoc
Labels: enhancement

#1004 Move "General Topics" physically to the correct location under configuration
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/configuration/files/big_file_upload_configuration.adoc
  modules/admin_manual/pages/configuration/files/external_storage/auth_mechanisms.adoc
  modules/admin_manual/pages/configuration/general_topics/code_signing.adoc
  modules/admin_manual/pages/configuration/general_topics/general_troubleshooting.adoc
  modules/admin_manual/pages/configuration/general_topics/impersonate_users.adoc
  modules/admin_manual/pages/configuration/general_topics/index.adoc
  modules/admin_manual/pages/configuration/server/caching_configuration.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security_setup_warnings.adoc
  modules/admin_manual/pages/installation/linux_installation.adoc
  modules/admin_manual/pages/installation/manual_installation.adoc
  modules/admin_manual/pages/issues/index.adoc
  modules/admin_manual/pages/maintenance/update.adoc
  modules/developer_manual/pages/app/advanced/code_signing.adoc
  modules/user_manual/pages/pim/sync_ios.adoc
  modules/user_manual/pages/pim/sync_osx.adoc
Labels: admin docs, backport, enhancement

#1039 TOC in admin manual - Enterprise
  modules/admin_manual/pages/enterprise/clients/creating_branded_apps.adoc
  modules/admin_manual/pages/enterprise/clients/custom_client_repos.adoc
  modules/admin_manual/pages/enterprise/collaboration/msoffice-wopi-integration.adoc
  modules/admin_manual/pages/enterprise/external_storage/ldap_home_connector_configuration.adoc
  modules/admin_manual/pages/enterprise/external_storage/onedrive.adoc
  modules/admin_manual/pages/enterprise/external_storage/s3_swift_as_primary_object_store_configuration.adoc
  modules/admin_manual/pages/enterprise/external_storage/sharepoint-integration_configuration.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/enterprise/file_management/files_tagging.adoc
  modules/admin_manual/pages/enterprise/firewall/file_firewall.adoc
  modules/admin_manual/pages/enterprise/installation/install.adoc
  modules/admin_manual/pages/enterprise/installation/oracle_db_configuration.adoc
  modules/admin_manual/pages/enterprise/ransomware-protection/index.adoc
  modules/admin_manual/pages/enterprise/user_management/saml_2.0_sso.adoc
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
Labels: admin docs, backport, enhancement

#1043 TOC in developer manual - Developing ownCloud Core
  modules/developer_manual/pages/core/acceptance-tests.adoc
  modules/developer_manual/pages/core/externalapi.adoc
  modules/developer_manual/pages/core/ocs-capabilities.adoc
  modules/developer_manual/pages/core/ocs-recipient-api.adoc
  modules/developer_manual/pages/core/ocs-share-api.adoc
  modules/developer_manual/pages/core/theming.adoc
  modules/developer_manual/pages/core/translation.adoc
  modules/developer_manual/pages/core/ui-testing.adoc
  modules/developer_manual/pages/core/unit-testing.adoc
  modules/developer_manual/pages/general/devenv.adoc
  modules/developer_manual/pages/testing/index.adoc
  modules/developer_manual/pages/webdav_api/comments.adoc
  modules/developer_manual/pages/webdav_api/files_versions.adoc
  modules/developer_manual/pages/webdav_api/groups.adoc
  modules/developer_manual/pages/webdav_api/groups/custom_groups_endpoints.adoc
  modules/developer_manual/pages/webdav_api/groups/group_membership_endpoints.adoc
  modules/developer_manual/pages/webdav_api/search.adoc
  modules/developer_manual/pages/webdav_api/tags.adoc
Labels: backport, developer docs, enhancement

#1090 Add page-aliases to best practices
  docs/best-practices.md
Labels: backport, deployment, enhancement

#1120 Fix 'physical' typo
  docs/best-practices.md
Labels: backport, review required
