Repository owncloud/docs, pull requests merged in 2019-01, with the labels that each got.

#485 updated config sample files
  modules/administration_manual/pages/configuration/server/config_apps_sample_php_parameters.adoc
  modules/administration_manual/pages/configuration/server/config_sample_php_parameters.adoc
Labels: admin docs, core

#481 Rename install make target to setup
  Makefile
  docs/install-antora.md
Labels: review required

#477 10.1 Release Notes
  modules/administration_manual/pages/release_notes.adoc
Labels: waiting on feedback

#492 Document the minimum supported PostgreSQL version
  modules/administration_manual/pages/installation/system_requirements.adoc
Labels: admin docs, enhancement, review required

#487 nginx improvements
  modules/administration_manual/examples/installation/nginx/default-configuration.conf
  modules/administration_manual/examples/installation/nginx/subdirectory-configuration.conf
  modules/administration_manual/pages/installation/nginx_configuration.adoc
Labels: enhancement

#493 Fix two broken (legacy) rST links
  modules/administration_manual/pages/installation/system_requirements.adoc
  modules/administration_manual/pages/issues/general_troubleshooting.adoc
Labels: enhancement, review required

#468 Fix warnings
  modules/ROOT/pages/index.adoc
  modules/administration_manual/pages/configuration/files/encryption_configuration.adoc
  modules/administration_manual/pages/configuration/user/user_provisioning_api.adoc
  modules/administration_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/administration_manual/pages/release_notes.adoc
  modules/administration_manual/pages/whats_new_admin.adoc
  modules/developer_manual/pages/mobile_development/ios_library/library_installation.adoc
  modules/user_manual/pages/files/access_webdav.adoc
Labels: bug, enhancement, waiting on feedback

#495 Replace references to doc.owncloud.org with .com
  modules/ROOT/pages/index.adoc
  modules/administration_manual/pages/configuration/files/external_storage/ftp.adoc
  modules/administration_manual/pages/configuration/files/external_storage/local.adoc
  modules/administration_manual/pages/index.adoc
  modules/administration_manual/pages/release_notes.adoc
  modules/developer_manual/pages/app/fundamentals/database.adoc
  modules/developer_manual/pages/app/fundamentals/info.adoc
  modules/user_manual/pages/files/desktop_mobile_sync.adoc
  modules/user_manual/pages/index.adoc
Labels: enhancement, review required

#491 Add a local playbook
  Makefile
  docs/build-the-docs.md
  site.local.yml
Labels: enhancement, technical review

#501 Remove references to lunr
  Makefile
  docs/build-the-docs.md
  generators/search.js
  package.json
  yarn.lock
Labels: command-line, deployment, enhancement, technical review

#500 Document how to update the search index
  algolia-config.json
  docs/build-the-docs.md
Labels: admin docs, enhancement, review required, waiting on PR merge

#480 Document Installing Antora's dependencies & Updating the Search Index
  docs/build-the-docs.md
  docs/update-the-search-index.md
Labels: command-line, enhancement, review required, waiting on feedback, work in progress

#505 Document that user deletion now shows a confirmation dialog
  modules/administration_manual/assets/images/configuration/user/delete-user-confirmation.png
  modules/administration_manual/pages/configuration/user/user_configuration.adoc
Labels: admin docs, enhancement, technical review

#503 Apache - Always set headers
  modules/administration_manual/pages/installation/manual_installation.adoc
Labels: admin docs, enhancement, waiting on PR merge

#502 New docs Release Notes
  modules/ROOT/pages/release_notes.adoc
Labels: waiting on PR merge

#509 Document static tagging functionality
  modules/administration_manual/pages/enterprise/file_management/files_tagging.adoc
Labels: enhancement, enterprise docs, review required

#475 Integrate Algolia search
  .drone.yml
  Makefile
  algolia/config.json
  docs/build-the-docs.md
  updating-the-search-index.md
Labels: deployment, enhancement, technical review, waiting on feedback

#513 Fix list item index error
  modules/administration_manual/pages/configuration/database/linux_database_configuration.adoc
Labels: admin docs, bug

#515 Better sort order of main nav items
  modules/administration_manual/nav.adoc
Labels: deployment, enhancement

#522 Better sort order of development nav items
  modules/developer_manual/nav.adoc
Labels: deployment, developer docs, enhancement

#520 occ files:scan describe limitations due to session credentials
  modules/administration_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs, command-line, enhancement

#516 Clean up the SMB/CIFS documentation
  modules/administration_manual/pages/configuration/files/external_storage/smb.adoc
Labels: admin docs, clean up

#525 Update getting started guide for non-developers
  docs/best-practices.md
  docs/getting-started.md
  docs/images/getting-started/non-developers/add-comment-to-issue.png
  docs/images/getting-started/non-developers/assign-issue.png
  docs/images/getting-started/non-developers/commit-change-to-docs-directly-on-github.png
  docs/images/getting-started/non-developers/create-new-issue.png
  docs/images/getting-started/non-developers/current-docs-issues.png
  docs/images/getting-started/non-developers/docs-home-edit-this-page.png
  docs/images/getting-started/non-developers/docs-repo-home.png
  docs/images/getting-started/non-developers/edit-page-on-github-directly.png
  docs/images/getting-started/non-developers/github-signup.png
  docs/images/getting-started/non-developers/new-docs-issue.png
Labels: enhancement, good first issue, work in progress

#532 Better clarify statement about code signing being optional
  modules/developer_manual/pages/app/advanced/code_signing.adoc
Labels: clean up, developer docs, enhancement, technical review, waiting on feedback

#530 Document that the CSRF token is available in the DOM
  modules/developer_manual/assets/images/app/fundamentals/controllers/debug-the-csrf-token.jpg
  modules/developer_manual/assets/images/app/fundamentals/controllers/display-the-csrf-token.jpg
  modules/developer_manual/pages/app/fundamentals/controllers.adoc
Labels: developer docs, enhancement, technical review

#533 Update Let's Encrypt Apache SSL documentation
  modules/administration_manual/pages/installation/letsencrypt/apache.adoc
Labels: admin docs, command-line, enhancement, installation & configuration, technical review

#543 Update the occ user:expire-password and Password Policy documentation
  modules/administration_manual/assets/images/configuration/server/password-policy/password-policy-configuration-web-ui.png
  modules/administration_manual/pages/configuration/server/occ_app_command.adoc
  modules/administration_manual/pages/configuration/server/security/password_policy.adoc
Labels: admin docs, command-line, enhancement, good first issue, work in progress

#545 Update the issue template to make it simpler
  .github/issue_template.md
Labels: enhancement, review required

#550 Add Piwik support
  site.yml
Labels: analytics, enhancement, review required, waiting on PR merge

#511 Document installation and usage of mod_unique_id
  modules/administration_manual/assets/images/installation/webservers/apache/mod_unique_id/phpinfo.png
  modules/administration_manual/examples/installation/webservers/apache/log-entry.json
  modules/administration_manual/pages/installation/manual_installation.adoc
Labels: admin docs, enhancement, installation & configuration, logging, technical review

#549 Move Algolia config directory
  .drone.yml
  search/algolia/config.json
Labels: bug, deployment, technical review, waiting on feedback

#526 Remove SWIFT from the List of usable Storages
  modules/administration_manual/pages/installation/deployment_considerations.adoc
Labels: enhancement, outdated documentation, work in progress

#552 Document how to retrieve a storage's owner using a file id
  modules/developer_manual/examples/app/fundamentals/filesystem/getOwnerByFileId.php
  modules/developer_manual/pages/app/fundamentals/filesystem.adoc
Labels: developer docs, enhancement, technical review

#560 Update version to 10.1.0
  Makefile
Labels: command-line, deployment, outdated documentation, waiting on feedback

#565 Mark UI Bundle as a snapshot
  site.yml
Labels: deployment, enhancement, p2-high, technical review

#497 Fix errors and omissions in the developer tutorial
  modules/developer_manual/pages/app/tutorial/development_environment.adoc
Labels: bug, developer docs, technical review, waiting on feedback
