Repository owncloud/docs, pull requests merged in 2019-03, with the labels that each got.

#662 [10.0] fix Available APIs navigation link
  modules/developer_manual/nav.adoc
Labels: APIs, developer docs

#663 [10.1] fix Available APIs navigation link
  modules/developer_manual/nav.adoc
Labels: APIs, developer docs

#664 DELETE commands do not return any data
  modules/developer_manual/pages/core/ocs-share-api.adoc
Labels: APIs, backport, developer docs

#655 Fix broken links in admin manual's release notes
  modules/admin_manual/pages/release_notes.adoc
Labels: admin docs, backport, bug, review required

#665 accepting a pending remote share does not return any data
  modules/developer_manual/pages/core/ocs-share-api.adoc
Labels: APIs, developer docs

#672 [10.1] accepting a pending remote share does not return any data
  modules/developer_manual/pages/core/ocs-share-api.adoc
Labels: APIs, developer docs, review required

#673 [10.0] accepting a pending remote share does not return any data
  modules/developer_manual/pages/core/ocs-share-api.adoc
Labels: APIs, developer docs, review required

#657 Recommend to hold updates to owncloud-files repository package
  modules/admin_manual/pages/installation/linux_installation.adoc
Labels: admin docs, installation & configuration, review required

#685 fix leftover quote in user_manual/pages/troubleshooting.adoc
  modules/user_manual/pages/troubleshooting.adoc
Labels: bug, user docs

#686 Add shibboleth override warning
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
Labels: review required, technical review

#640 Update impersonate app group restriction documentation
  modules/admin_manual/assets/images/apps/impersonate/impersonate-add-groups.png
  modules/admin_manual/assets/images/apps/impersonate/impersonate-settings.png
  modules/admin_manual/assets/images/apps/impersonate/limit-impersonation-to-specific-groups.gif
  modules/admin_manual/pages/issues/impersonate_users.adoc
Labels: admin docs, enhancement, review required

#681 Development Docs Update: Install composer and yarn
  modules/developer_manual/pages/general/devenv.adoc
Labels: backport, developer docs, enhancement, work in progress

#696 Developer Manual: Improving the backport script
  modules/developer_manual/pages/general/backporting.adoc
Labels: command-line, developer docs, enhancement

#699 Add script link for backporting
  docs/getting-started.md
Labels: enhancement

#697 [10.0] [PR 681] Development Docs Update: Install composer and yarn
  modules/developer_manual/pages/general/devenv.adoc
Labels: developer docs, enhancement

#698 [10.1] [PR 681] Development Docs Update: Install composer and yarn
  modules/developer_manual/pages/general/devenv.adoc
Labels: developer docs, enhancement

#712 Improve how to use text in backport
  modules/developer_manual/pages/general/backporting.adoc
Labels: developer docs, enhancement

#717 Remove db:generate-change-script
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs

#719 Improving backport
  modules/developer_manual/examples/scripts/backport.sh
  modules/developer_manual/pages/general/backporting.adoc
Labels: backport, developer docs, enhancement

#720 Explicitly specify the local branch to use in site.yml
  site.yml
Labels: bug, enhancement

#721 Remove duplicate entries for description and category
  modules/developer_manual/pages/app/fundamentals/info.adoc
Labels: clean up, developer docs, enhancement, review required

#724 Add note when the script breakes
  modules/developer_manual/examples/scripts/backport.sh
  modules/developer_manual/pages/general/backporting.adoc
Labels: backport, developer docs, enhancement

#731 Remeber the base branch and switch back when finished
  modules/developer_manual/examples/scripts/backport.sh
Labels: developer docs, enhancement

#741 make complete log level string bold
  modules/admin_manual/pages/enterprise/logging/enterprise_logging_apps.adoc
Labels: admin docs, backport, enterprise docs

#736 selinux link fix
  modules/admin_manual/pages/installation/configuration_notes_and_tips.adoc
Labels: admin docs, backport, bug

#734 Improve text to better cover macos
  modules/developer_manual/pages/general/backporting.adoc
Labels: backport, developer docs, enhancement

#743 Document both files:scan --group and --groups options
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs, command-line

#738 Improving script include explanation in best-practices.md
  docs/best-practices.md
Labels: enhancement

#740 small nginx update
  modules/admin_manual/examples/installation/nginx/default-configuration.conf
  modules/admin_manual/examples/installation/nginx/subdirectory-configuration.conf
  modules/admin_manual/pages/installation/nginx_configuration.adoc
Labels: admin docs, backport

#756 Fix wrong include directives in the developer manual
  modules/admin_manual/pages/installation/manual_installation.adoc
  modules/developer_manual/examples/app/fundamentals/cron/SomeTask.php
  modules/developer_manual/examples/app/storage-backend/OCA/MyStorageApp/AppInfo/Application.php
  modules/developer_manual/examples/app/storage-backend/OCA/MyStorageApp/Backend/MyStorageBackend.php
  modules/developer_manual/examples/app/storage-backend/OCA/MyStorageApp/Storage/MyStorage.php
  modules/developer_manual/examples/app/storage-backend/appinfo/info.xml
  modules/developer_manual/pages/app/advanced/extstorage.adoc
  modules/developer_manual/pages/app/fundamentals/backgroundjobs.adoc
  modules/developer_manual/pages/app/fundamentals/filesystem.adoc
  modules/developer_manual/pages/core/acceptance-tests.adoc
  modules/developer_manual/pages/core/unit-testing.adoc
  modules/developer_manual/pages/webdav_api/groups/custom_groups_endpoints.adoc
  modules/developer_manual/pages/webdav_api/groups/group_membership_endpoints.adoc
Labels: backport, bug, developer docs

#748 [WIP]: Update latest manual version and fix previous breaking changes.
  docs/checking-broken-links.md
  modules/ROOT/pages/index.adoc
  modules/developer_manual/pages/general/devenv.adoc
Labels: work in progress

#778 fix anchor for config reports
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs, backport, bug

#783 Improving the cherry pick procedure in backporting script
  modules/developer_manual/examples/scripts/backport.sh
  modules/developer_manual/pages/general/backporting.adoc
Labels: backport, developer docs, enhancement

#790 Add missing search secrets, use same style for all secrets
  .drone.yml
  overlay/robots.txt
  overlay/ui.yml
  site.yml
Labels: backport, deployment, enhancement

#789 Fixes to ocs-share-api.adoc for missing xml response examples
  modules/developer_manual/pages/core/ocs-share-api.adoc
Labels: backport, bug, developer docs

#764 Improving Linkchecker
  docs/checking-broken-links.md
Labels: backport, enhancement

#766 yarn run (build-the-docs.md)
  docs/build-the-docs.md
Labels: backport, enhancement

#801 Fixes includes and updates of the letsencrypt documentation
  modules/admin_manual/examples/installation/lets_encrypt/cli.ini
  modules/admin_manual/examples/installation/lets_encrypt/your-domain-name.sh
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/installation/letsencrypt/using_letsencrypt.adoc
Labels: admin docs, backport, bug

#812 fixing links
  modules/admin_manual/pages/enterprise/installation/install.adoc
Labels: admin docs, backport, bug

#820 Fix missing references in developer docs
  modules/developer_manual/pages/_partials/webdav_api/core_curl_request.adoc
  modules/developer_manual/pages/webdav_api/groups/custom_groups_endpoints.adoc
Labels: backport, bug, developer docs

#833 Comments, typo and formatting update in dev_docs
  modules/developer_manual/pages/_partials/webdav_api/core_curl_request.adoc
  modules/developer_manual/pages/webdav_api/groups.adoc
  modules/developer_manual/pages/webdav_api/groups/custom_groups_endpoints.adoc
  modules/developer_manual/pages/webdav_api/groups/group_membership_endpoints.adoc
Labels: backport, developer docs, enhancement

#822 Remove orphaned example file
  modules/admin_manual/examples/installation/apps-management-installation.php
Labels: admin docs, backport, clean up, enhancement, waiting on feedback

#811 Server Migration Documentation Fix
  modules/admin_manual/pages/maintenance/migrating.adoc
Labels: admin docs, backport, bug

#830 Improve description how docs are built and deployed
  docs/getting-started.md
  docs/the-build-pipeline.md
Labels: backport, deployment, enhancement

#825 Suggestion to use a git alias for backport.sh
  modules/developer_manual/pages/general/backporting.adoc
Labels: backport, developer docs, enhancement
