Repository owncloud/docs, pull requests merged in 2019-05, with the labels that each got.

#1124 Update Checking Broken Links page
  docs/checking-broken-links.md
Labels: backport, deployment, enhancement

#1104 Improve makefile phony clean comment to make it clear that the pdf path is meant
  Makefile
Labels: backport, deployment, enhancement

#1134 Extend the default recommendation for running occ incoming-shares:poll
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs, backport, command-line, enhancement

#989 2742 - Document the more granular permissions for public links
  modules/admin_manual/pages/document_classification/index.adoc
  modules/user_manual/assets/images/public-link/public-link-settings.png
  modules/user_manual/pages/files/public_link_shares.adoc
Labels: clean up, deprecation, enhancement, technical review, user docs

#974 Update user_roles.adoc
  modules/admin_manual/pages/configuration/user/user_roles.adoc
Labels: admin docs, backport, enhancement

#972 Update ldap_proxy_cache_server_setup.adoc
  modules/admin_manual/examples/configuration/ldap/Multi-AD.slapd.conf
  modules/admin_manual/examples/configuration/ldap/single.slapd.conf
  modules/admin_manual/pages/configuration/ldap/ldap_proxy_cache_server_setup.adoc
Labels: admin docs, backport, enhancement

#1161 Update release_notes.adoc
  modules/ROOT/pages/release_notes.adoc
Labels: enhancement

#1166 Globally enable the experimental attribute
  docs/best-practices.md
  modules/admin_manual/pages/appliance/Clamav.adoc
  modules/admin_manual/pages/appliance/Index.php-less_URLs.adoc
  modules/admin_manual/pages/appliance/Office.adoc
  modules/admin_manual/pages/appliance/howto-update-owncloud.adoc
  modules/admin_manual/pages/appliance/ucs/add-groups-and-users.adoc
  modules/admin_manual/pages/configuration/files/encryption/enable-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enabling-user-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration_quick_guide.adoc
  modules/admin_manual/pages/configuration/files/encryption/master-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/external_storage/dropbox.adoc
  modules/admin_manual/pages/configuration/files/external_storage/google.adoc
  modules/admin_manual/pages/configuration/files/external_storage_configuration_gui.adoc
  modules/admin_manual/pages/configuration/files/federated_cloud_sharing_configuration.adoc
  modules/admin_manual/pages/configuration/files/file_versioning.adoc
  modules/admin_manual/pages/configuration/general_topics/code_signing.adoc
  modules/admin_manual/pages/configuration/general_topics/impersonate_users.adoc
  modules/admin_manual/pages/configuration/ldap/ldap_proxy_cache_server_setup.adoc
  modules/admin_manual/pages/configuration/server/antivirus_configuration.adoc
  modules/admin_manual/pages/configuration/server/import_ssl_cert.adoc
  modules/admin_manual/pages/configuration/server/language_configuration.adoc
  modules/admin_manual/pages/configuration/server/legal_settings_configuration.adoc
  modules/admin_manual/pages/configuration/user/user_configuration.adoc
  modules/admin_manual/pages/document_classification/index.adoc
  modules/admin_manual/pages/enterprise/file_management/files_tagging.adoc
  modules/admin_manual/pages/enterprise/ransomware-protection/index.adoc
  modules/admin_manual/pages/installation/installation_wizard.adoc
  modules/admin_manual/pages/installation/letsencrypt/using_letsencrypt.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/update.adoc
  modules/admin_manual/pages/maintenance/upgrade.adoc
  modules/admin_manual/pages/troubleshooting/providing_logs_and_config_files.adoc
  modules/developer_manual/pages/app/fundamentals/market_app.adoc
  modules/developer_manual/pages/app/fundamentals/publishing.adoc
  modules/developer_manual/pages/app/tutorial/wiring_it_up.adoc
  modules/developer_manual/pages/core/unit-testing.adoc
  modules/developer_manual/pages/mobile_development/android_library/library_installation.adoc
  modules/user_manual/pages/external_storage/sharepoint_connecting.adoc
  modules/user_manual/pages/files/access_webdav.adoc
  modules/user_manual/pages/files/federated_cloud_sharing.adoc
  modules/user_manual/pages/files/public_link_shares.adoc
  modules/user_manual/pages/files/version_control.adoc
  modules/user_manual/pages/files/webgui/comments.adoc
  modules/user_manual/pages/files/webgui/custom_groups.adoc
  modules/user_manual/pages/files/webgui/navigating.adoc
  modules/user_manual/pages/files/webgui/overview.adoc
  modules/user_manual/pages/files/webgui/sharing.adoc
  modules/user_manual/pages/pim/index.adoc
  modules/user_manual/pages/pim/sync_ios.adoc
  modules/user_manual/pages/pim/sync_kde.adoc
  modules/user_manual/pages/pim/sync_osx.adoc
  modules/user_manual/pages/pim/sync_thunderbird.adoc
  modules/user_manual/pages/session_management.adoc
  modules/user_manual/pages/webinterface.adoc
  site.yml
Labels: clean up, enhancement, review required

#1176 delete code duplication
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
Labels: admin docs

#1174 [10.0] Fix outdated reference to appliance page in admin PDF config file
  books/ownCloud_Admin_Manual.adoc
Labels: bug, review required

#1175 [10.1] Fix outdated reference to appliance page in admin PDF config file
  books/ownCloud_Admin_Manual.adoc
Labels: bug, review required

#1136 1055 - Move the WND Admonition in the Samba docs to the WND docs
  modules/admin_manual/pages/configuration/files/external_storage/smb.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
Labels: admin docs, bug, clean up

#1182 Fix 10.2 Validation Errors
  modules/ROOT/pages/index.adoc
  site.yml
Labels: deployment, review required

#962 Adding background:queue to occ command set
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs, command-line, enhancement, native language review, no backport, waiting on feedback

#890 Add example for shibboleth and credentials login
  modules/admin_manual/examples/enterprise/user_management/shibboleth/other-login-mechanisms-vhost.conf
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
Labels: enhancement, enterprise docs, technical review, waiting on feedback

#1080 Restructure of Appliance section
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/appliance/configuration/add-groups-and-users.adoc
  modules/admin_manual/pages/appliance/configuration/certificates.adoc
  modules/admin_manual/pages/appliance/configuration/clamav.adoc
  modules/admin_manual/pages/appliance/configuration/enterprise_trial.adoc
  modules/admin_manual/pages/appliance/configuration/firewall.adoc
  modules/admin_manual/pages/appliance/configuration/index.php-less_URLs.adoc
  modules/admin_manual/pages/appliance/configuration/login_information.adoc
  modules/admin_manual/pages/appliance/configuration/office.adoc
  modules/admin_manual/pages/appliance/configuration/wnd_setup.adoc
  modules/admin_manual/pages/appliance/installation/active_directory.adoc
  modules/admin_manual/pages/appliance/installation/installation.adoc
  modules/admin_manual/pages/appliance/maintenance/backup.adoc
  modules/admin_manual/pages/appliance/maintenance/howto-update-owncloud.adoc
  modules/admin_manual/pages/appliance/managing-ucs.adoc
Labels: admin docs, enhancement, waiting on feedback

#1205 Link to instructions for adding the ownCloud repository
  modules/admin_manual/pages/installation/linux_installation.adoc
Labels: admin docs, clean up, enhancement, installation & configuration, review required

#967 10.2 Release Notes
  modules/admin_manual/pages/release_notes.adoc
Labels: waiting on feedback

#1207 [10.2] [PR 967] 10.2 Release Notes
  modules/admin_manual/pages/release_notes.adoc
Labels: enhancement

#1208 [10.0] [PR 967] 10.2 Release Notes
  modules/admin_manual/pages/release_notes.adoc
Labels: enhancement

#1209 [10.1] [PR 967] 10.2 Release Notes
  modules/admin_manual/pages/release_notes.adoc
Labels: enhancement

#1206 Document the changes to the maintenance:repair command
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: admin docs, command-line, enhancement, occ, review required

#1220 Update ldap documentation
  modules/admin_manual/pages/configuration/user/user_auth_ldap.adoc
Labels: LDAP, admin docs, review required

#1211 Document auto-accepting incoming federated shares from trusted servers
  modules/admin_manual/assets/images/configuration/files/sharing/federated-cloud-sharing/automatically-accept-remote-shares-from-trusted-servers.png
  modules/admin_manual/pages/configuration/files/federated_cloud_sharing_configuration.adoc
Labels: admin docs, enhancement, installation & configuration, review required

#1204 Add a section on rate limiting in ownCloud
  modules/admin_manual/pages/configuration/server/harden_server.adoc
Labels: admin docs, command-line, enhancement, installation & configuration, waiting on feedback, work in progress

#1236 Harmonise all references to calling occ throughout the documentation
  docs/best-practices.md
  modules/admin_manual/pages/_partials/configuration/server/disable-single-user-mode.adoc
  modules/admin_manual/pages/_partials/configuration/server/enable-single-user-mode.adoc
  modules/admin_manual/pages/appliance/configuration/clamav.adoc
  modules/admin_manual/pages/configuration/database/db_conversion.adoc
  modules/admin_manual/pages/configuration/files/encryption/disabling-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enable-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enabling-user-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration_quick_guide.adoc
  modules/admin_manual/pages/configuration/files/encryption/master-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/moving-key-locations.adoc
  modules/admin_manual/pages/configuration/files/external_storage_configuration_gui.adoc
  modules/admin_manual/pages/configuration/files/file_sharing_configuration.adoc
  modules/admin_manual/pages/configuration/files/trashbin_options.adoc
  modules/admin_manual/pages/configuration/mimetypes/index.adoc
  modules/admin_manual/pages/configuration/server/config_sample_php_parameters.adoc
  modules/admin_manual/pages/configuration/server/harden_server.adoc
  modules/admin_manual/pages/configuration/server/legal_settings_configuration.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/hsmdaemon/index.adoc
  modules/admin_manual/pages/configuration/user/reset_admin_password.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ldap.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
  modules/admin_manual/pages/installation/command_line_installation.adoc
  modules/admin_manual/pages/maintenance/enable_maintenance.adoc
  modules/admin_manual/pages/maintenance/encryption/migrating-from-user-key-to-master-key.adoc
  modules/admin_manual/pages/maintenance/export_import_instance_data.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/manually-moving-data-folders.adoc
  modules/admin_manual/pages/maintenance/migrating.adoc
  modules/admin_manual/pages/maintenance/package_upgrade.adoc
  modules/admin_manual/pages/maintenance/restore.adoc
  modules/admin_manual/pages/maintenance/update.adoc
  modules/admin_manual/pages/release_notes.adoc
  modules/admin_manual/pages/troubleshooting/providing_logs_and_config_files.adoc
  modules/developer_manual/pages/app/fundamentals/backgroundjobs.adoc
  modules/developer_manual/pages/core/acceptance-tests.adoc
  site.yml
Labels: enhancement

#1240 Correct source block attribute substitution configuration
  modules/admin_manual/pages/_partials/configuration/server/disable-single-user-mode.adoc
  modules/admin_manual/pages/_partials/configuration/server/enable-single-user-mode.adoc
  modules/admin_manual/pages/configuration/database/db_conversion.adoc
  modules/admin_manual/pages/configuration/files/encryption/disabling-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enable-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enabling-user-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration_quick_guide.adoc
  modules/admin_manual/pages/configuration/files/encryption/master-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/moving-key-locations.adoc
  modules/admin_manual/pages/configuration/files/file_sharing_configuration.adoc
  modules/admin_manual/pages/configuration/files/trashbin_options.adoc
  modules/admin_manual/pages/configuration/mimetypes/index.adoc
  modules/admin_manual/pages/configuration/server/harden_server.adoc
  modules/admin_manual/pages/configuration/server/legal_settings_configuration.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/hsmdaemon/index.adoc
  modules/admin_manual/pages/configuration/user/reset_admin_password.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ldap.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
  modules/admin_manual/pages/installation/command_line_installation.adoc
  modules/admin_manual/pages/maintenance/enable_maintenance.adoc
  modules/admin_manual/pages/maintenance/encryption/migrating-from-user-key-to-master-key.adoc
  modules/admin_manual/pages/maintenance/export_import_instance_data.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/manually-moving-data-folders.adoc
  modules/admin_manual/pages/maintenance/migrating.adoc
  modules/admin_manual/pages/maintenance/package_upgrade.adoc
  modules/admin_manual/pages/maintenance/restore.adoc
  modules/admin_manual/pages/maintenance/update.adoc
  modules/admin_manual/pages/release_notes.adoc
  modules/admin_manual/pages/troubleshooting/providing_logs_and_config_files.adoc
  modules/developer_manual/pages/_partials/webdav_api/core_curl_request.adoc
  modules/developer_manual/pages/app/fundamentals/backgroundjobs.adoc
  modules/developer_manual/pages/core/acceptance-tests.adoc
Labels: bug, clean up

#1246 [10.1] [PR 1240] Correct source block attribute substitution configuration (#1240)
  modules/admin_manual/pages/_partials/configuration/server/disable-single-user-mode.adoc
  modules/admin_manual/pages/_partials/configuration/server/enable-single-user-mode.adoc
  modules/admin_manual/pages/configuration/database/db_conversion.adoc
  modules/admin_manual/pages/configuration/files/encryption/disabling-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enable-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enabling-user-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration_quick_guide.adoc
  modules/admin_manual/pages/configuration/files/encryption/master-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/moving-key-locations.adoc
  modules/admin_manual/pages/configuration/files/file_sharing_configuration.adoc
  modules/admin_manual/pages/configuration/files/trashbin_options.adoc
  modules/admin_manual/pages/configuration/mimetypes/index.adoc
  modules/admin_manual/pages/configuration/server/harden_server.adoc
  modules/admin_manual/pages/configuration/server/legal_settings_configuration.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/hsmdaemon/index.adoc
  modules/admin_manual/pages/configuration/user/reset_admin_password.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ldap.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
  modules/admin_manual/pages/installation/command_line_installation.adoc
  modules/admin_manual/pages/maintenance/enable_maintenance.adoc
  modules/admin_manual/pages/maintenance/encryption/migrating-from-user-key-to-master-key.adoc
  modules/admin_manual/pages/maintenance/export_import_instance_data.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/manually-moving-data-folders.adoc
  modules/admin_manual/pages/maintenance/migrating.adoc
  modules/admin_manual/pages/maintenance/package_upgrade.adoc
  modules/admin_manual/pages/maintenance/restore.adoc
  modules/admin_manual/pages/maintenance/update.adoc
  modules/admin_manual/pages/release_notes.adoc
  modules/admin_manual/pages/troubleshooting/providing_logs_and_config_files.adoc
  modules/developer_manual/pages/_partials/webdav_api/core_curl_request.adoc
  modules/developer_manual/pages/app/fundamentals/backgroundjobs.adoc
  modules/developer_manual/pages/core/acceptance-tests.adoc
Labels: backport

#1245 [10.0] [PR 1240] Correct source block attribute substitution configuration (#1240)
  modules/admin_manual/pages/_partials/configuration/server/disable-single-user-mode.adoc
  modules/admin_manual/pages/_partials/configuration/server/enable-single-user-mode.adoc
  modules/admin_manual/pages/configuration/database/db_conversion.adoc
  modules/admin_manual/pages/configuration/files/encryption/disabling-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enable-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enabling-user-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration_quick_guide.adoc
  modules/admin_manual/pages/configuration/files/encryption/master-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/moving-key-locations.adoc
  modules/admin_manual/pages/configuration/files/encryption_configuration.adoc
  modules/admin_manual/pages/configuration/files/file_sharing_configuration.adoc
  modules/admin_manual/pages/configuration/files/trashbin_options.adoc
  modules/admin_manual/pages/configuration/mimetypes/index.adoc
  modules/admin_manual/pages/configuration/server/harden_server.adoc
  modules/admin_manual/pages/configuration/server/legal_settings_configuration.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/hsmdaemon/index.adoc
  modules/admin_manual/pages/configuration/user/reset_admin_password.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ldap.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
  modules/admin_manual/pages/installation/command_line_installation.adoc
  modules/admin_manual/pages/maintenance/enable_maintenance.adoc
  modules/admin_manual/pages/maintenance/encryption/migrating-from-user-key-to-master-key.adoc
  modules/admin_manual/pages/maintenance/export_import_instance_data.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/manually-moving-data-folders.adoc
  modules/admin_manual/pages/maintenance/migrating.adoc
  modules/admin_manual/pages/maintenance/package_upgrade.adoc
  modules/admin_manual/pages/maintenance/restore.adoc
  modules/admin_manual/pages/maintenance/update.adoc
  modules/admin_manual/pages/release_notes.adoc
  modules/admin_manual/pages/troubleshooting/providing_logs_and_config_files.adoc
  modules/developer_manual/pages/_partials/webdav_api/core_curl_request.adoc
  modules/developer_manual/pages/app/fundamentals/backgroundjobs.adoc
  modules/developer_manual/pages/core/acceptance-tests.adoc
Labels: backport

#1244 [10.2] [PR 1240] Correct source block attribute substitution configuration
  modules/admin_manual/pages/_partials/configuration/server/disable-single-user-mode.adoc
  modules/admin_manual/pages/_partials/configuration/server/enable-single-user-mode.adoc
  modules/admin_manual/pages/configuration/database/db_conversion.adoc
  modules/admin_manual/pages/configuration/files/encryption/disabling-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enable-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/enabling-user-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration.adoc
  modules/admin_manual/pages/configuration/files/encryption/encryption_configuration_quick_guide.adoc
  modules/admin_manual/pages/configuration/files/encryption/master-key-encryption.adoc
  modules/admin_manual/pages/configuration/files/encryption/moving-key-locations.adoc
  modules/admin_manual/pages/configuration/files/file_sharing_configuration.adoc
  modules/admin_manual/pages/configuration/files/trashbin_options.adoc
  modules/admin_manual/pages/configuration/mimetypes/index.adoc
  modules/admin_manual/pages/configuration/server/harden_server.adoc
  modules/admin_manual/pages/configuration/server/legal_settings_configuration.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/hsmdaemon/index.adoc
  modules/admin_manual/pages/configuration/user/reset_admin_password.adoc
  modules/admin_manual/pages/configuration/user/user_auth_ldap.adoc
  modules/admin_manual/pages/enterprise/external_storage/windows-network-drive_configuration.adoc
  modules/admin_manual/pages/enterprise/user_management/user_auth_shibboleth.adoc
  modules/admin_manual/pages/installation/command_line_installation.adoc
  modules/admin_manual/pages/maintenance/enable_maintenance.adoc
  modules/admin_manual/pages/maintenance/encryption/migrating-from-user-key-to-master-key.adoc
  modules/admin_manual/pages/maintenance/export_import_instance_data.adoc
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  modules/admin_manual/pages/maintenance/manually-moving-data-folders.adoc
  modules/admin_manual/pages/maintenance/migrating.adoc
  modules/admin_manual/pages/maintenance/package_upgrade.adoc
  modules/admin_manual/pages/maintenance/restore.adoc
  modules/admin_manual/pages/maintenance/update.adoc
  modules/admin_manual/pages/release_notes.adoc
  modules/admin_manual/pages/troubleshooting/providing_logs_and_config_files.adoc
  modules/developer_manual/pages/_partials/webdav_api/core_curl_request.adoc
  modules/developer_manual/pages/app/fundamentals/backgroundjobs.adoc
  modules/developer_manual/pages/core/acceptance-tests.adoc
Labels: backport

#1249 Replace standard ports with global attributes
  modules/admin_manual/pages/configuration/server/caching_configuration.adoc
  modules/admin_manual/pages/configuration/server/email_configuration.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/installation/docker/index.adoc
  modules/developer_manual/pages/app/tutorial/restful_api.adoc
  modules/developer_manual/pages/core/acceptance-tests.adoc
  modules/developer_manual/pages/core/ui-testing.adoc
  site.yml
Labels: enhancement, p4-low, review required

#1262 Deprecate 10.0 branch in 10.1
  modules/ROOT/pages/index.adoc
Labels: p2-high

#1264 [1173] Fix broken LDAP configuration image link
  modules/admin_manual/pages/configuration/ldap/ldap_proxy_cache_server_setup.adoc
Labels: LDAP, admin docs, bug, clean up, p2-high, review required

#1263 Finish deprecating 10.0 branch in 10.2
  modules/ROOT/pages/index.adoc
  site.yml
Labels: clean up, p2-high, review required

#1261 Add missing softhsm2 file from master branch to 10.1
  modules/admin_manual/pages/configuration/server/security/hsmdaemon/softhsm2.adoc
Labels: admin docs, clean up, p2-high, review required

#1237 Update content sources to reference 10.2 and 10.1, & deprecate 10.0
  modules/ROOT/pages/index.adoc
  modules/admin_manual/pages/configuration/server/caching_configuration.adoc
  modules/admin_manual/pages/installation/docker/index.adoc
  site.yml
Labels: admin docs, deprecation, developer docs, enhancement, review required, user docs

#1268 Add a redirect from source_installation to manual_installation
  modules/admin_manual/pages/installation/manual_installation.adoc
Labels: bug, clean up, review required

#1269 [10.0] [PR 1268] Add a redirect from source_installation to manual_installation
  modules/admin_manual/pages/installation/manual_installation.adoc
Labels: admin docs, bug, clean up

#1273 Add missing softhsm2 file from master branch to 10.0
  modules/admin_manual/pages/configuration/server/security/hsmdaemon/softhsm2.adoc
Labels: admin docs, backport

#1242 updated FAQ section
  modules/admin_manual/pages/faq/index.adoc
Labels: admin docs, clean up, enhancement, p3-medium, review required

#1233 Minor fixes and updates to the occ user commands documentation
  modules/admin_manual/pages/configuration/server/occ_command.adoc
Labels: clean up, enhancement, review required

#1228 Document ability to open the file sidebar from a permalink
  modules/developer_manual/examples/core/apis/ocs-capabilities/list-capabilities-response.json
  modules/developer_manual/pages/core/ocs-capabilities.adoc
  modules/user_manual/pages/_partials/direct_file_access_tip.adoc
  modules/user_manual/pages/files/version_control.adoc
  modules/user_manual/pages/files/webgui/comments.adoc
  modules/user_manual/pages/files/webgui/sharing.adoc
Labels: enhancement, p3-medium, review required, user docs, waiting on feedback

#1285 Revert private links details param 10.0
  modules/developer_manual/examples/core/apis/ocs-capabilities/list-capabilities-response.json
  modules/developer_manual/pages/core/ocs-capabilities.adoc
Labels: developer docs

#1284 added action descriptions
  modules/admin_manual/pages/configuration/server/antivirus_configuration.adoc
Labels: backport

#1287 Describe privateLinks capability from core PR 29021
  modules/developer_manual/pages/core/ocs-capabilities.adoc
Labels: developer docs

#1286 Revert private links details param 10.1
  modules/developer_manual/examples/core/apis/ocs-capabilities/list-capabilities-response.json
  modules/developer_manual/pages/core/ocs-capabilities.adoc
Labels: developer docs
