Repository owncloud/docs, pull requests merged in 2019-06, with the labels that each got.

#1291 removed upload gui option
  modules/admin_manual/assets/images/configuration/files/admin_filehandling-1.png
  modules/admin_manual/assets/images/configuration/files/admin_filehandling-2.png
  modules/admin_manual/pages/configuration/files/big_file_upload_configuration.adoc
Labels: admin docs, clean up, installation & configuration, p3-medium, waiting on feedback

#1300 [10.2] [PR 1242] updated FAQ section
  modules/admin_manual/pages/faq/index.adoc
Labels: review required

#1187 Introduce a style guide to the docs
  docs/style-guide.md
Labels: enhancement, review required

#1325 Link All Category Roots to Index Pages
  modules/admin_manual/assets/images/installation/deprecs-2.png
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/_partials/section_page.adoc
  modules/admin_manual/pages/appliance/configuration/index.adoc
  modules/admin_manual/pages/appliance/maintenance/index.adoc
  modules/admin_manual/pages/configuration/files/encryption/root.adoc
  modules/admin_manual/pages/configuration/files/external_storage/index.adoc
  modules/admin_manual/pages/configuration/ldap/index.adoc
  modules/admin_manual/pages/configuration/server/index.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/index.adoc
  modules/admin_manual/pages/enterprise/clients/index.adoc
  modules/admin_manual/pages/enterprise/collaboration/index.adoc
  modules/admin_manual/pages/enterprise/external_storage/index.adoc
  modules/admin_manual/pages/enterprise/file_management/index.adoc
  modules/admin_manual/pages/enterprise/firewall/index.adoc
  modules/admin_manual/pages/enterprise/logging/index.adoc
  modules/admin_manual/pages/enterprise/security/index.adoc
  modules/admin_manual/pages/enterprise/security/ransomware-protection/index.adoc
  modules/admin_manual/pages/enterprise/server_branding/index.adoc
  modules/admin_manual/pages/enterprise/user_management/index.adoc
  modules/admin_manual/pages/installation/letsencrypt/index.adoc
  modules/admin_manual/pages/maintenance/encryption/index.adoc
  modules/admin_manual/pages/troubleshooting/index.adoc
  modules/developer_manual/nav.adoc
  modules/developer_manual/pages/app/fundamentals/info.adoc
  modules/developer_manual/pages/commun/help_and_communication.adoc
  modules/developer_manual/pages/core/apis/externalapi.adoc
  modules/developer_manual/pages/core/apis/index.adoc
  modules/developer_manual/pages/core/apis/ocs-capabilities.adoc
  modules/developer_manual/pages/core/apis/ocs-recipient-api.adoc
  modules/developer_manual/pages/core/apis/ocs-share-api.adoc
  modules/developer_manual/pages/testing/acceptance-tests.adoc
  modules/developer_manual/pages/testing/index.adoc
  modules/developer_manual/pages/testing/test-pilots.adoc
  modules/developer_manual/pages/testing/ui-testing.adoc
  modules/developer_manual/pages/testing/unit-testing.adoc
  modules/developer_manual/pages/webdav_api/index.adoc
  modules/user_manual/nav.adoc
  modules/user_manual/pages/apps/index.adoc
Labels: admin docs, clean up, developer docs, enhancement, p3-medium, review required, user docs

#1302 Update the Ubuntu 18.04 installation example
  modules/admin_manual/examples/installation/ubuntu/18.04/configure-log-rotation.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/create-vhost-config.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/finalise-install.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/memcache-configuration.php
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/installation/ubuntu_18_04.adoc
Labels: admin docs, command-line, enhancement, installation & configuration

#1350 [10.0] Update the Ubuntu 18.04 installation example (#1302)
  modules/admin_manual/examples/installation/ubuntu/18.04/configure-log-rotation.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/create-vhost-config.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/finalise-install.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/memcache-configuration.php
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/installation/ubuntu_18_04.adoc
Labels: admin docs, enhancement, p3-medium

#1351 [10.1] Update the Ubuntu 18.04 installation example (#1302)
  modules/admin_manual/examples/installation/ubuntu/18.04/configure-log-rotation.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/create-vhost-config.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/finalise-install.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/memcache-configuration.php
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/installation/ubuntu_18_04.adoc
Labels: admin docs, backport, clean up, enhancement, installation & configuration, p3-medium

#1352 [10.2] Update the Ubuntu 18.04 installation example (#1302)
  modules/admin_manual/examples/installation/ubuntu/18.04/configure-log-rotation.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/create-vhost-config.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/finalise-install.sh
  modules/admin_manual/examples/installation/ubuntu/18.04/memcache-configuration.php
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/installation/ubuntu_18_04.adoc
Labels: admin docs, backport, clean up, enhancement

#1348 [10.2] Link All Category Roots to Index Pages (#1325)
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/_partials/section_page.adoc
  modules/admin_manual/pages/appliance/configuration/index.adoc
  modules/admin_manual/pages/appliance/maintenance/index.adoc
  modules/admin_manual/pages/configuration/files/encryption/root.adoc
  modules/admin_manual/pages/configuration/files/external_storage/index.adoc
  modules/admin_manual/pages/configuration/ldap/index.adoc
  modules/admin_manual/pages/configuration/server/index.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/index.adoc
  modules/admin_manual/pages/enterprise/clients/index.adoc
  modules/admin_manual/pages/enterprise/collaboration/index.adoc
  modules/admin_manual/pages/enterprise/external_storage/index.adoc
  modules/admin_manual/pages/enterprise/file_management/index.adoc
  modules/admin_manual/pages/enterprise/firewall/index.adoc
  modules/admin_manual/pages/enterprise/logging/index.adoc
  modules/admin_manual/pages/enterprise/security/index.adoc
  modules/admin_manual/pages/enterprise/security/ransomware-protection/index.adoc
  modules/admin_manual/pages/enterprise/server_branding/index.adoc
  modules/admin_manual/pages/enterprise/user_management/index.adoc
  modules/admin_manual/pages/installation/letsencrypt/index.adoc
  modules/admin_manual/pages/maintenance/encryption/index.adoc
  modules/admin_manual/pages/troubleshooting/index.adoc
  modules/developer_manual/nav.adoc
  modules/developer_manual/pages/app/fundamentals/info.adoc
  modules/developer_manual/pages/commun/help_and_communication.adoc
  modules/developer_manual/pages/core/apis/externalapi.adoc
  modules/developer_manual/pages/core/apis/index.adoc
  modules/developer_manual/pages/core/apis/ocs-capabilities.adoc
  modules/developer_manual/pages/core/apis/ocs-recipient-api.adoc
  modules/developer_manual/pages/core/apis/ocs-share-api.adoc
  modules/developer_manual/pages/testing/acceptance-tests.adoc
  modules/developer_manual/pages/testing/index.adoc
  modules/developer_manual/pages/testing/test-pilots.adoc
  modules/developer_manual/pages/testing/ui-testing.adoc
  modules/developer_manual/pages/testing/unit-testing.adoc
  modules/developer_manual/pages/webdav_api/index.adoc
  modules/user_manual/nav.adoc
  modules/user_manual/pages/apps/index.adoc
Labels: backport, clean up, enhancement, p3-medium, review required, waiting on feedback

#1347 [10.0] Link All Category Roots to Index Pages (#1325)
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/_partials/section_page.adoc
  modules/admin_manual/pages/appliance/configuration/index.adoc
  modules/admin_manual/pages/appliance/maintenance/index.adoc
  modules/admin_manual/pages/configuration/files/encryption/root.adoc
  modules/admin_manual/pages/configuration/files/external_storage/index.adoc
  modules/admin_manual/pages/configuration/ldap/index.adoc
  modules/admin_manual/pages/configuration/server/index.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/index.adoc
  modules/admin_manual/pages/enterprise/clients/index.adoc
  modules/admin_manual/pages/enterprise/collaboration/index.adoc
  modules/admin_manual/pages/enterprise/external_storage/index.adoc
  modules/admin_manual/pages/enterprise/file_management/index.adoc
  modules/admin_manual/pages/enterprise/firewall/index.adoc
  modules/admin_manual/pages/enterprise/logging/index.adoc
  modules/admin_manual/pages/enterprise/security/index.adoc
  modules/admin_manual/pages/enterprise/security/ransomware-protection/index.adoc
  modules/admin_manual/pages/enterprise/server_branding/index.adoc
  modules/admin_manual/pages/enterprise/user_management/index.adoc
  modules/admin_manual/pages/installation/letsencrypt/index.adoc
  modules/admin_manual/pages/maintenance/encryption/index.adoc
  modules/admin_manual/pages/troubleshooting/index.adoc
  modules/developer_manual/nav.adoc
  modules/developer_manual/pages/app/fundamentals/info.adoc
  modules/developer_manual/pages/commun/help_and_communication.adoc
  modules/developer_manual/pages/core/apis/externalapi.adoc
  modules/developer_manual/pages/core/apis/index.adoc
  modules/developer_manual/pages/core/apis/ocs-capabilities.adoc
  modules/developer_manual/pages/core/apis/ocs-recipient-api.adoc
  modules/developer_manual/pages/core/apis/ocs-share-api.adoc
  modules/developer_manual/pages/testing/acceptance-tests.adoc
  modules/developer_manual/pages/testing/index.adoc
  modules/developer_manual/pages/testing/test-pilots.adoc
  modules/developer_manual/pages/testing/ui-testing.adoc
  modules/developer_manual/pages/testing/unit-testing.adoc
  modules/developer_manual/pages/webdav_api/index.adoc
  modules/user_manual/nav.adoc
  modules/user_manual/pages/apps/index.adoc
Labels: backport, clean up, enhancement, p3-medium, review required, waiting on feedback

#1349 [10.1] Link All Category Roots to Index Pages (#1325)
  modules/admin_manual/nav.adoc
  modules/admin_manual/pages/_partials/section_page.adoc
  modules/admin_manual/pages/appliance/configuration/index.adoc
  modules/admin_manual/pages/appliance/maintenance/index.adoc
  modules/admin_manual/pages/configuration/files/encryption/root.adoc
  modules/admin_manual/pages/configuration/files/external_storage/index.adoc
  modules/admin_manual/pages/configuration/ldap/index.adoc
  modules/admin_manual/pages/configuration/server/index.adoc
  modules/admin_manual/pages/configuration/server/occ_command.adoc
  modules/admin_manual/pages/configuration/server/security/index.adoc
  modules/admin_manual/pages/enterprise/clients/index.adoc
  modules/admin_manual/pages/enterprise/collaboration/index.adoc
  modules/admin_manual/pages/enterprise/external_storage/index.adoc
  modules/admin_manual/pages/enterprise/file_management/index.adoc
  modules/admin_manual/pages/enterprise/firewall/index.adoc
  modules/admin_manual/pages/enterprise/logging/index.adoc
  modules/admin_manual/pages/enterprise/security/index.adoc
  modules/admin_manual/pages/enterprise/security/ransomware-protection/index.adoc
  modules/admin_manual/pages/enterprise/server_branding/index.adoc
  modules/admin_manual/pages/enterprise/user_management/index.adoc
  modules/admin_manual/pages/installation/letsencrypt/index.adoc
  modules/admin_manual/pages/maintenance/encryption/index.adoc
  modules/admin_manual/pages/troubleshooting/index.adoc
  modules/developer_manual/nav.adoc
  modules/developer_manual/pages/app/fundamentals/info.adoc
  modules/developer_manual/pages/commun/help_and_communication.adoc
  modules/developer_manual/pages/core/apis/externalapi.adoc
  modules/developer_manual/pages/core/apis/index.adoc
  modules/developer_manual/pages/core/apis/ocs-capabilities.adoc
  modules/developer_manual/pages/core/apis/ocs-recipient-api.adoc
  modules/developer_manual/pages/core/apis/ocs-share-api.adoc
  modules/developer_manual/pages/testing/acceptance-tests.adoc
  modules/developer_manual/pages/testing/index.adoc
  modules/developer_manual/pages/testing/test-pilots.adoc
  modules/developer_manual/pages/testing/ui-testing.adoc
  modules/developer_manual/pages/testing/unit-testing.adoc
  modules/developer_manual/pages/webdav_api/index.adoc
  modules/user_manual/nav.adoc
  modules/user_manual/pages/apps/index.adoc
Labels: backport, clean up, enhancement, p3-medium, review required, waiting on feedback

#1238 [WIP] Rework the Anti-Virus documentation
  modules/admin_manual/assets/images/antivirus-config.png
  modules/admin_manual/assets/images/antivirus-daemon-socket.png
  modules/admin_manual/assets/images/antivirus-daemon.png
  modules/admin_manual/assets/images/antivirus-executable.png
  modules/admin_manual/assets/images/apps/files_antivirus/antivirus-app.png
  modules/admin_manual/assets/images/apps/files_antivirus/antivirus-daemon-socket.png
  modules/admin_manual/assets/images/apps/files_antivirus/antivirus-daemon.png
  modules/admin_manual/assets/images/apps/files_antivirus/antivirus-executable.png
  modules/admin_manual/assets/images/apps/files_antivirus/antivirus-logging.png
  modules/admin_manual/pages/configuration/server/antivirus_configuration.adoc
Labels: admin docs, clean up, enhancement, review required

#1358 Add new iOS 11+ docs as a content source
  site.yml
Labels: enhancement, mobile docs, p3-medium, review required
