Repository owncloud/docs, pull requests merged in 2020-05, with the labels that each got.

#2550 Render the OAuth2 flow Ascii art diagram as an image
  modules/admin_manual/pages/configuration/server/security/oauth2.adoc
  package.json
  site.yml
  yarn.lock
Labels: p4-low, review required

#2642 [10.4] [2550] Render the OAuth2 flow Ascii art diagram as an image
  modules/admin_manual/pages/configuration/server/security/oauth2.adoc
  package.json
  site.yml
  yarn.lock
Labels: backport

#2643 10.3 cherry pick 321900c 2550
  package.json
  site.yml
  yarn.lock
Labels: deployment

#2645 Incorporate changes from core for config.sample.php
  modules/admin_manual/pages/configuration/server/config_sample_php_parameters.adoc
Labels: admin docs

#2647 [10.4] [PR 2645] Incorporate changes from core for config.sample.php
  modules/admin_manual/pages/configuration/server/config_sample_php_parameters.adoc
Labels: admin docs, backport

#2646 [10.3] [PR 2645] Incorporate changes from core for config.sample.php
  modules/admin_manual/pages/configuration/server/config_sample_php_parameters.adoc
Labels: admin docs, backport

#2664 config.sample update based on core change
  modules/admin_manual/pages/configuration/server/config_sample_php_parameters.adoc
Labels: admin docs

#2665 [10.5] [PR 2664] config.sample update based on core change
  modules/admin_manual/pages/configuration/server/config_sample_php_parameters.adoc
Labels: admin docs
