Repository owncloud/docs, pull requests merged in 2020-08, with the labels that each got.

#2747 some rendering fixes
  modules/admin_manual/pages/configuration/files/federated_cloud_sharing_configuration.adoc
Labels: admin docs

#2749 Fix Antora compile warning missing reference to latest-download-version
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  site.yml
Labels: admin docs

#2751 [10.5] [PR 2749] Fix Antora compile warning missing reference to late…
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  site.yml
Labels: admin docs, backport

#2754 fix more anotra compile warnings
  modules/admin_manual/examples/installation/deployment_recommendations/set_session_path.sh
  modules/developer_manual/examples/core/scripts/curl/create-share.sh
  modules/developer_manual/examples/core/scripts/curl/dav/public_files/view_public_link.sh
  modules/developer_manual/examples/core/scripts/curl/dav/trashbin_api/delete-file-from-trashbin.sh
  modules/developer_manual/examples/core/scripts/curl/dav/trashbin_api/list-files-in-trashbin.sh
  modules/developer_manual/examples/core/scripts/curl/dav/trashbin_api/restore-file-to-trashbin.sh
  modules/developer_manual/examples/core/scripts/curl/delete-share.sh
  modules/developer_manual/examples/core/scripts/curl/get-share-info.sh
  modules/developer_manual/examples/core/scripts/curl/list-all-shares.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/notifications/get-server-capabilities.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/notifications/get-user-notifications.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/notify-public-link-by-email.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/user-sync.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/validate-totp.sh
  modules/developer_manual/examples/core/scripts/curl/provisioning_api/add-user.curl
  modules/developer_manual/examples/core/scripts/curl/update-share.sh
  modules/developer_manual/pages/core/apis/ocs-share-api.adoc
  modules/developer_manual/pages/core/apis/ocs-totp-validation-api.adoc
  modules/developer_manual/pages/core/apis/ocs/notifications/ocs-endpoint-v1.adoc
  modules/developer_manual/pages/webdav_api/trashbin.adoc
Labels: admin docs

#2755 Fix Antora compile warning missing reference to latest-download-version for 10.4 only
  modules/admin_manual/pages/maintenance/manual_upgrade.adoc
  site.yml
Labels: admin docs

#2756 [10.5] [PR 2754] fix more anotra compile warnings
  modules/admin_manual/examples/installation/deployment_recommendations/set_session_path.sh
  modules/developer_manual/examples/core/scripts/curl/create-share.sh
  modules/developer_manual/examples/core/scripts/curl/dav/public_files/view_public_link.sh
  modules/developer_manual/examples/core/scripts/curl/dav/trashbin_api/delete-file-from-trashbin.sh
  modules/developer_manual/examples/core/scripts/curl/dav/trashbin_api/list-files-in-trashbin.sh
  modules/developer_manual/examples/core/scripts/curl/dav/trashbin_api/restore-file-to-trashbin.sh
  modules/developer_manual/examples/core/scripts/curl/delete-share.sh
  modules/developer_manual/examples/core/scripts/curl/get-share-info.sh
  modules/developer_manual/examples/core/scripts/curl/list-all-shares.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/notifications/get-server-capabilities.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/notifications/get-user-notifications.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/notify-public-link-by-email.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/user-sync.sh
  modules/developer_manual/examples/core/scripts/curl/ocs/validate-totp.sh
  modules/developer_manual/examples/core/scripts/curl/provisioning_api/add-user.curl
  modules/developer_manual/examples/core/scripts/curl/update-share.sh
  modules/developer_manual/pages/core/apis/ocs-share-api.adoc
  modules/developer_manual/pages/core/apis/ocs-totp-validation-api.adoc
  modules/developer_manual/pages/core/apis/ocs/notifications/ocs-endpoint-v1.adoc
  modules/developer_manual/pages/webdav_api/trashbin.adoc
Labels: backport, developer docs

#2758 Document skipOnFedOcV10 test tags
  modules/developer_manual/pages/testing/acceptance-tests.adoc
Labels: developer docs

#2761 Update caching_configuration.adoc
  modules/admin_manual/pages/configuration/server/caching_configuration.adoc
Labels: admin docs
